numpy=1.20.3
scipy==1.15.1
networkx==3.4.2
psutil==6.1.1
matplotlib==3.10.0
scikit-learn==1.6.1
sacred==0.8.7
pymanopt==2.2.1
pandas==2.2.3
POT==0.9.5
pytest==8.3.4
autograd==1.7.0
openpyxl==3.1.5
pytensor==2.27.1 # In Konstantinos's repo Theano is used instead,
#but it does not work for Python 3.12 and pytensor is just a fork of Theano.
torch==2.6.0
tqdm==4.67.1
seaborn==0.13.2


