aenum==3.1.15
autograd==1.7.0
fast-pagerank==1.0.0
matplotlib==3.10.1
networkx==3.4.2
numpy==2.2.5
openpyxl==3.1.5
pandas==2.2.3
POT==0.9.5
psutil==7.0.0
pymanopt==2.2.1
pytensor==2.30.3
pytest==8.3.5
sacred==0.8.7
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
torch==2.6.0
tqdm==4.67.1
wandb==0.19.10
